{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formulaire d'upload</h1>


    <h3>Formulaire : </h3>

    <div class="mb-10" id="message_send"></div>
    <div>
        <p id="phrase_retour"></p>
        <p id="pieces_jointes"></p>
    </div>
    <form id="final_form" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-group">
            <label for="demande">Demande :</label>
            <!--<textarea class="form-control" rows="5" id="demande"></textarea>-->

            {% if directories | length %}
            <div id="using_html_4" class="demo jstree jstree-6 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j6_1" aria-busy="false">
                {{ renderTree( directories ) }}
            </div>
            {% endif %}


        </div>
        <button type="button" id="sendData" class="btn btn-primary pull-right sendData" style="display: none"><?php echo "Upload";?></button>
        <div class="col-10 uploadcol">
            <div class="upload error text-danger mb-5"></div>
        </div>
        <div class="input_fields_wrap">
            <span class="btn btn-info mb-10" id="avert"><?php echo "Veuillez sélectionnez un répertoire";?></span>
            <button class="add_field_button btn btn-info mb-10" id="firstadd" style="display: none" ><?php echo "Ajouter un fichier";?></button>
        </div>

    </form>
{% endblock %}

{% block javascripts %}
<script>
    var Upload = {};
    Upload.directory_id = undefined;
    Upload.directory_name = undefined;

    function initUploadDir(){
        $("#avert").show();
        $("#firstadd").hide();
        $("#sendData").hide();
        $(".input_fields_wrap div.form-group").remove();
        $('#using_html_4 .jstree-clicked').removeClass("jstree-clicked");
        Upload.uploadCount = 1;
        Upload.directory_id = undefined;
        Upload.directory_name = undefined;
    }

    /*ajouter autant de fichier à uploader que l'on souhaite*/
    $(document).ready(function() {

        var max_fields      = 7; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID

        Upload.directory_id = undefined;
        Upload.directory_name = undefined;
        Upload.uploadCount = 1;

        $(document).on("click",".directory",function(e){
            Upload.directory_id = $(this).data('id');
            Upload.directory_name = $(this).text();
            console.log(Upload.directory_name);
            // get last button add
            $(".input_fields_wrap .add_field_button").last().text("Ajouter un fichier au répertoire "+Upload.directory_name);

            // show button if hidden
            if($("#avert").is(':visible'))
                $("#avert").hide();
            if(!$("#firstadd").is(':visible'))
                $("#firstadd").show();
            if(!$("#sendData").is(':visible'))
                $("#sendData").show();


            e.stopPropagation();
        });

        $(add_button).click(function(e){ //on add input button click
            e.preventDefault();
            /*
             // get directory clicked and add it
             let directories = $('#final_form').data('directories');
             if(directories === undefined)
             directories = [];
             directories.push(directory_id);
             $('#final_form').data('directories',directories);
             */

            if(Upload.uploadCount < max_fields){ //max input box allowed
                Upload.uploadCount++; //text box increment
                $(wrapper).append('<div class="form-group"><input  data-directory="'+Upload.directory_id+'" type="file" name="myfile[]" class="fileUpload"/><a href="#" class="remove_field"><?php echo SUPPRIMER_FORM;?></a></div>'); //add input box
            }
        });

        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); Upload.uploadCount--;
        })

        $(".input_fields_wrap").on("change",".fileUpload",function(){
            var filename = $(this)[0].files[0].name;
            var regex = /^[a-zA-Z]+\.[a-zA-Z]+$/;
            res = regex.test(filename);
            if(!res) {
                $(this).val("");
                // remove the select
                Utils.showMsg("Fichier mal nommé, veuillez en sélectionner un autre", "fail");
            }
            //check file
        });


        /*envoi final du formulaire en ajax*/
        $('.sendData').on( "click", function() {

            var data = new FormData($('#final_form')[0]);

            var message= $('#demande').val();
            data.append('message', message);

            let directories = [];
            jQuery.each($('#final_form').find(".fileUpload"),function(key,value){
                let val = jQuery(value).data('directory');
                directories.push(val);
            });
            // get directories from html data
            //let directories = $('#final_form').data('directories');
            console.log(directories);
            data.append('directories',directories);

            jQuery.ajax({
                url: 'envoiformulaire',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                type: 'POST',
                success: function(data){
                    //var retour = jQuery.parseJSON(data);
                    var retour = data;
                    var error = retour[0];
                    var files = retour[1];
                    var phrase_retour = retour[2];

                    if(error!='') {
                        $('.upload.error.text-danger').html(error);
                        $('.uploadcol').addClass('has-error');
                    }else{
                        initUploadDir();
                        Utils.hideAllMsg();
                        Utils.showMsg(phrase_retour,"success",true);
                    }
                }
            });
        })

    });


    String.prototype.nl2br = function()
    {
        return this.replace(/(\r\n|\n\r|\r|\n)/g, "<br>");
    }

</script>

<script>
    $(function () {
        $('#using_html_4').jstree();
    });
</script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
